@import url('reset.css');

@font-face {
    font-family: vazirNormal;
    src: url('fonts/vaizr.eot');
    src: url('fonts/vazir.eot?#iefix') format('embedded-opentype'),
        url('fonts/vazir.woff2') format('woff2'),
        url('fonts/vazir.woff') format('woff'),
        url('fonts/vazir.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}

body {
    font-family: vazirNormal;
    direction: rtl;

}

input,
button {
    font-family: vazirNormal;
}

/* #
{
    box-sizing: border-box;
} */



/* header */

.clearfix {
    clear: both;
}

#header {
    background: linear-gradient(195deg, rgba(13, 71, 161, 1) 0%, rgba(30, 136, 229, 1) 100%);
    height: 700px;
    width: 100%;
    /* font-family: 'vazirNormal'; */
}

.container {
    width: 1100px;
    margin: auto;
}

#header .logo {
    float: right;
    padding-top: 10px;
}

#header .logo img {
    width: 60px;

}

/* navigation */

#header #navigation {
    float: left;
    padding-top: 20px;
}

#header #navigation li {
    display: inline-block;
}

#navigation svg {
    font-size: 23px;
    margin-left: 8px;
    vertical-align: -6px;
}

#navigation .fa-store {
    font-size: 20px;
}

#header #navigation a {
    color: #fff;
    padding: 5px 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    text-decoration: none;
    transition: 0.25s;
}

#header #navigation a:hover {
    border-bottom: 2px solid #fff;
    transition: 0.25s
}

/* section */
#subscribe {
    text-align: center;
    padding-top: 50px;
}

#subscribe .title {
    font-size: 60px;
    font-weight: bold;
    color: #fff;

}

#subscribe .subtitle {
    font-size: 25px;
    color: #fff;
    padding: 40px 0;
}



#subscribe .email {
    width: 400px;
    padding: 15px;
    border: none;
    border-radius: 5px;
}

#subscribe .sub_btn {
    color: #fff;
    background-color: #212326;
    padding: 15px 35px;
    border: none;
    border-radius: 5px;
    margin-right: 15px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);

}

#subscribe .sub_btn:hover {
    box-shadow: 0 5px 25px 0 rgb(0 0 0 / 25%);
    cursor: pointer;
}

#subscribe svg {
    font-size: 16px;
    vertical-align: -5px;
    margin-right: 6px;
}

#subscribe .desc {
    color: #fff;
    padding-top: 40px;
}

#subscribe .header_image {
    margin-top: 50px;
}

/* why-us */

.why_us {
    text-align: center;
    /* background-color: #fff; */
    padding-top: 250px;
}

.why_us .item {
    width: 30%;
    /* height: 100px; */
    margin: 20px 15px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 25%);
    ;
    border-radius: 20px;
    display: inline-block;
    text-align: right;
    transition: 0.25s;
}

.why_us .item:hover {
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 25%);
}

.why_us .item svg {
    color: rgb(13, 71, 161);
    font-size: 50px;
}

.why_us .item .title {
    font-size: 23px;
    font-weight: bold;
    padding: 15px 0;

}

.why_us .desc {
    font-size: 15px;
    line-height: 25px;
}


/* customers */
.customers {
    text-align: center;
    height: 200px;
    width: 100%;
    margin-top: 50px;
    background-image: url(images/ny.jpeg);
    background-size: cover;
    background-attachment: fixed;

}

.customers .container h2 {
    font-size: 40px;
    padding: 25px 0;
    color: #fff;
}

.customers h2::before {
    content: " .: ";
}

.customers h2::after {
    content: " :. ";
}

.customers li {
    display: inline-block;
    margin-top: 30px;
    margin-right: 80px;
    /* width: 25%; */
}

.customers li img {
    width: 150px;
}

.customers li img:hover {
    opacity: 0.5;
    cursor: pointer;
}

/* posts */

.posts .post_title
{
    font-size: 30px; 
    padding:25px 0 ;
    font-weight: bold;
}

.posts
{
    text-align: center;
}

.posts .post_item

{ display: inline-block;
    width: 30%;
    height: 300px;
    margin: 20px 15px;
    box-shadow:0 5px 10px 0 rgb(0 0 0 / 25%); 
    border-radius: 5px;
    transition: 0.25s;
    position: relative;

}

.posts .post_item:hover
{
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 25%) ;
}

.posts .post_img
{
    width:100% ;
    height:200px ;
    border-radius: 5px 5px 0 0;
}

.posts .post_img:hover
{
    cursor: pointer;
}

 .posts .post_content
 {
    text-align: right;
    font-size:20px ;
    padding:10px 5px ;
    color: #1c1c1c;
    
 }
 
 .posts .post_content:hover
 {
    cursor: pointer;
    color: #404040;
    color: ;

 }

 .posts .post_data
 {
    /* position: absolute;
    bottom:0;
    position: relative;
    text-align: right; */
    font-size: 14px;
    text-align: right;
 }
 /* .clearfix{
    clear: both;
 } */

 .posts .date
{
    /* background-color: aqua; */
    position: absolute;
    right: 5px;
    bottom: 5px;
}

   

 

 .posts .readmore
 {
    /* background-color: chartreuse; */
    position: absolute;
    left: 5px;
    bottom: 5px;
    color: #404040;
 }

 .posts .readmore:hover
 {
    cursor: pointer;
    color: #2b2b2b;
}
 
#footer
{
    width: 100%;
    text-align: center;
    background-color: #e0e0e0;
    margin-top: 30px; 
}

#footer .socials
{
    padding: 20px 0;
    text-align: center;
}

#footer .socials li
{
    display: inline-block;
    margin-right: 15px;
}

#footer svg
{
    color:#3d3d3d;
    font-size: 35px;
}

#footer svg:hover
{
    color: #262626 ;
}

#footer .copyright
{
    width: 100%;
    background-color:#424242 ;
    padding: 10px 0;
    color:#fff;
}


/* #footer .copyright svg{
    color: crimson;
}


.test{
    background-color: aqua;
}

.test svg{
    color: crimson;
} */

 